<main>
    <h1>{{title}}</h1>
    {{#if hasProducts}}
        <div class="grid">
            {{#each products}}
                <article class="card product-item">
                    <header class="card__header">
                        <h2 class="product__title">{{this.title}}</h2>
                    </header>
                    <div class="card__image">
                        <img src="https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" alt="{{this.title}}" />
                    </div>
                    <div class="card__content">
                        <h3 class="product__price">$19.99</h3>
                        <p class="product__description">A short product description goes here.</p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
            {{/each}}
        </div>
    {{else}}
        <p>No products found. Please start adding some.</p>
    {{/if}}
</main>